.contact {
  margin-top: 88px;
  background: linear-gradient(
    291.38deg,
    var(--primary-color1) 31.57%,
    var(--primary-color1) 106.52%
  );
  height: 419px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;
    .title {
      color: var(--black-color);
    }

    .desc {
      line-height: 150%;
      margin: 9.83px 0 26px;
      color: var(--text-desc-color);
    }

    .action {
      input {
        width: 320px;
        height: 46px;
        margin-right: 24px;
      }

      button {
        width: 112px;
        height: 48px;
        border-radius: 6px;
      }
    }
  }

  img {
    position: absolute;

    &:nth-child(2) {
      top: 0;
      left: 0;
    }
    &:nth-child(3) {
      bottom: 24px;
      left: 24px;
    }
    &:nth-child(5) {
      bottom: 0;
      right: 0;
    }
    &:nth-child(4) {
      top: 24px;
      right: 24px;
    }
  }
}

@media screen and (max-width: 31.125em) {
  .contact {
    .content {
      .action {
        display: flex;
        flex-direction: column;
        gap: 20px 0;

        input {
          width: 100%;
        }

        button {
          align-self: flex-end;
        }
      }
    }
  }
}
