.features {
  padding-top: 150px;

  .features-container {
    .header {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 17px 0;
      margin-bottom: 130px;

      .title {
        &::after {
          width: 541px;
        }
      }

      .desc {
        color: var(--text-desc-color1);
        font-family: "Poppins";
        font-weight: 500;
        font-size: 2rem;
        line-height: 150%;
      }
    }

    .content {
      .feature {
        margin-bottom: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .feature-content {
          .title {
            font-family: "Lato";
            font-weight: 700;
            font-size: 3.6rem;
            line-height: 125%;
          }

          .desc {
            margin: 30px 0;
            font-family: "Poppins";
            font-weight: 500;
            font-size: 2rem;
            line-height: 150%;
            color: var(--text-desc-color);
            max-width: 481px;
          }

          .feature-btn {
            width: 160px;
            height: 46px;
            border-radius: 6px;
            font-family: "Poppins";
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 150%;
            color: var(--text-button-color);

            span {
              margin-left: 8px;
            }
          }
        }

        .feature-img {
          position: absolute;
          right: 0;
        }

        &--reverse {
          flex-direction: row-reverse;

          .feature-img {
            left: 0;
          }

          .feature-content {
            text-align: right;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
