:root {
  --primary-color: #ffce40;
  --primary-color1: #f2a520;
  --primary-color2: #fbc028;
  --black-color: #1b1c1f;
  --white-color: #fff;

  --title-section-color: #2a3342;
  --text-desc-color: rgba(27, 28, 31, 0.75);
  --text-desc-color1: #5f5e5c;
  --text-desc-color2: #556987;
  --text-button-color: #f0fdf4;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1153px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  color: var(--title-section-color);
  font-family: "Lato";
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 122%;
  max-width: 846px;
}

.section-desc {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
  max-width: 1001px;
}

.content-title {
  color: var(--black-color);
  font-family: "Lato";
  font-weight: 700;
}

.content-desc {
  color: var(--text-desc-color);
}

.primary-btn {
  background: var(--black-color);
  border-radius: 10px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 112%;
  color: var(--white-color);
}

h1.section-title.title {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: rgba(255, 206, 64, 0.5);
    width: 100%;
    height: 9px;
    bottom: 5px;
    left: 0;
    z-index: -1;
  }
}

.input {
  border: 1px solid #d5dae1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--text-desc-color);
}

.container {
  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 40.125em) {
  h1.section-title.title {
    &::after {
      content: "";
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 5px;
      bottom: -10px;
    }
  }
}
