header {
  --navbar-height: 118px;

  background-image: url("/assets/icons/hero-bg.svg");
  padding-top: 202px;
  padding-bottom: 108px;

  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    z-index: 999;
    // box-shadow: 0 0 10px var(--black-color);

    .navbar-container {
      height: var(--navbar-height);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-features {
        display: flex;
        align-items: center;
        gap: 0 37.04px;

        .menu-btn {
          display: none;
        }

        .menu-responsive {
          display: none;
        }

        .nav {
          display: flex;
          gap: 0 30px;

          .item {
            a {
              font-family: "DM Sans";
              font-weight: 400;
              font-size: 1.8rem;
              line-height: 111%;
              color: var(--black-color);
              cursor: pointer;
            }

            &.active {
              a {
                color: var(--primary-color);
                font-weight: 700;
              }
            }
          }
        }

        .action {
          display: flex;
          gap: 0 16px;

          .languages {
            display: flex;
            align-items: center;
            border: 1px solid #eff0f7;
            box-shadow: 0px 5px 5px rgba(8, 15, 52, 0.04);
            border-radius: 10px;
            width: 162px;
            height: 54px;
            padding: 9px 16px 9px 9px;

            .name {
              font-family: "Lato";
              font-weight: 500;
              font-size: 1.8rem;
              line-height: 111%;
              color: var(--black-color);
              margin-right: 28px;
              margin-left: 8px;
            }
          }

          button {
            width: 122px;
            height: 54px;
          }
        }
      }
    }
  }

  .hero {
    .hero-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 61px;

      .content {
        .slogan {
          background: rgba(255, 255, 255, 0.35);
          border-radius: 49px;
          width: 361px;
          height: 42px;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-family: "Open Sans";
            font-weight: 600;
            font-size: 2.2rem;
            line-height: 109%;
            color: var(--black-color);
          }
        }

        .title {
          margin-top: 25px;
          font-weight: 700;
          font-size: 4.8rem;
          line-height: 50px;
        }

        .desc {
          font-family: "Open Sans";
          font-weight: 600;
          font-size: 2rem;
          line-height: 24px;
          margin-top: 35px;
        }

        .download {
          margin-top: 40px;
          display: flex;
          gap: 0 18.21px;
        }
      }

      .image {
        margin-right: -17px;
      }
    }
  }
}

@media screen and (max-width: 68.75em) {
  .header {
    .navbar {
      .navbar-container {
        .header-features {
          .menu-btn {
            display: block;
            font-size: 2.6rem;
            cursor: pointer;

            &:hover {
              color: var(--primary-color);
            }
          }

          .menu-responsive {
            transform: translateX(110%);
            display: block;
            position: fixed;
            bottom: 0;
            right: 0;
            top: 0;
            background: var(--white-color);
            width: 250px;
            z-index: 1000;
            box-shadow: 0 0 10px var(--black-color);
            transition: transform 0.5s;

            .nav {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 30px 0;
              padding-top: 50px;
            }

            .action {
              display: none;
            }

            &.show {
              transform: translateX(0);
            }
          }

          .nav {
            display: none;
          }
        }
      }
    }

    .hero {
      .hero-container {
        .image {
          img {
            width: 450px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 56.625em) {
  .header {
    .hero {
      .hero-container {
        .image {
          img {
            width: 350px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 50.5em) {
  .header {
    .hero {
      .hero-container {
        flex-direction: column;
        gap: 50px 0;

        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .image {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 43.75em) {
  .header {
    .navbar {
      .navbar-container {
        .header-features {
          .menu-btn {
            display: block;
            font-size: 2.6rem;
            cursor: pointer;
            margin-right: 20px;

            &:hover {
              color: var(--primary-color);
            }
          }

          .menu-responsive {
            .action {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 20px 0;
              margin-top: 30px;
            }
          }

          .action {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 31.125em) {
  html {
    font-size: 47%;
  }

  .header {
    .hero {
      .hero-container {
        .content {
          .slogan {
            width: 285px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 24.375em) {
  .header {
    .hero {
      .hero-container {
        .content {
          .download {
            flex-direction: column;
            gap: 20px 0;
          }
        }
      }
    }
  }
}
